p {
	color: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
	display: grid;
}
p.target {
	padding : 30px;
}

h1 {
	background-color: #7f7fcf;
}

h2 {
	border: solid 1px black;
	margin: 5px;
}

div#zentai {
	display: flex;
	flex-direction: row;
	width: 1024px;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	grid-template-rows: 200px;
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf;
}
