p {
	color: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}
p.target {
	padding : 30px;
}

h1 {
	color: white;
	text-shadow: 2px 2px 4px navy;
}

h2 {
	border: none;
	margin: 5px;
	font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(white,#ffefaf);
}

div#zentai {
	
	display: grid;
	flex-direction: row;
	width: 1024px;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

div#zentai > div {
	padding: 5px;
	background-color: #ffefaf;
	grid-template-rows: 200px;
	height: 200px;
}
img.sign {
    float: right;  

    width: 100px;
    height: 100px;
    margin: 10px 0 10px 10px;
}
